<div class="products-list">
  <div class="row">
    <!----><div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <img alt="Generic placeholder image" class="align-self-start mr-3" width="64px" src="http://confluence.xrm.ru/images/logo/default-space-logo-256.png">
            <div class="media-body">
              <h3 class="mt-0">Эльпас</h3>
              <p _ngcontent-c13="">Сбор электронных паспортов с УК, ТСЖ, ресурсоснабжающих организаций в соответствии с ПП РФ № 1468</p>
              <a class="card-link link" href="http://elpass.ru/">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <img alt="Generic placeholder image" class="align-self-start mr-3" width="64px" src="http://confluence.xrm.ru/images/logo/default-space-logo-256.png">
            <div class="media-body">
              <h3 class="mt-0">Субсидии</h3>
              <p _ngcontent-c13="">Система по выплате субсидий на оплату жилого помещения и коммунальных услуг</p>
              <a class="card-link link" href="">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div><div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <img alt="Generic placeholder image" class="align-self-start mr-3" width="64px" src="http://confluence.xrm.ru/images/logo/default-space-logo-256.png">
            <div class="media-body">
              <h3 class="mt-0">Компенсации</h3>
              <p _ngcontent-c13="">Система по выплате компенсаций расходов на оплату жилого помещения и коммунальных услуг</p>
              <a class="card-link link" href="">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
