<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/img/logo.png" width="32" alt="Логотип компании">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 justify-content-around">
      <li class="nav-item active">
        <a class="nav-link">Главная
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Продукты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Удостоверяющий центр</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Защита информации</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Карьера</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">О компании</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
    </form>
</nav>