.navbar-dark{
    background-color: #919191!important;
}

.nav-item{
    padding:0.92857143em 1.14285714em;
    font-weight: 400;    
    line-height:1;
}
.nav-link{
    padding:0;
}

.nav-item:hover{
    background-color:rgba(255,255,255,.08)
}

.navbar{
    padding:0 0.5rem;
}