<div class="page container">
    <h1>
      Реквизиты
    </h1>
  
    <h2>
      Общие:
    </h2>
  
    <dl class="row">
      <dt class="col-sm-3">Полное наименование</dt>
      <dd class="col-sm-9">Общество с ограниченной ответственностью "Компания Экстрим про"</dd>
  
      <dt class="col-sm-3">Краткое наименование</dt>
      <dd class="col-sm-9">ООО "Компания Экстрим про"</dd>
  
      <dt class="col-sm-3">Юридический адрес</dt>
      <dd class="col-sm-9">620062, Екатеринбург, пр-кт Ленина, д. 68, оф. 229</dd>
  
      <dt class="col-sm-3">Фактический адрес</dt>
      <dd class="col-sm-9">620075, г. Екатеринбург, ул. Мамина-Сибиряка, 85, оф. 618</dd>
    </dl>
    
    <h2>
      Коды:
    </h2>
  
    <dl class="row">
      <dt class="col-sm-3">ИНН</dt>
      <dd class="col-sm-9">6670082930</dd>
  
      <dt class="col-sm-3">КПП</dt>
      <dd class="col-sm-9">667001001</dd>
  
      <dt class="col-sm-3">ОГРН</dt>
      <dd class="col-sm-9">1056603535966</dd>
  
      <dt class="col-sm-3">ОКАТО</dt>
      <dd class="col-sm-9">65401373000</dd>
  
      <dt class="col-sm-3">ОКПО</dt>
      <dd class="col-sm-9">77145306</dd>
    </dl>
  
    <h2>
      Платежные реквизиты:
    </h2>
  
    <dl class="row">
      <dt class="col-sm-3">Расчетный счет</dt>
      <dd class="col-sm-9">40702810300280006816 в филиале ОАО Банк ВТБ в г. Екатеринбурге</dd>
  
      <dt class="col-sm-3">Корреспондентский счет</dt>
      <dd class="col-sm-9">30101810400000000952 в ГРКЦ ГУ Банка России по Свердловской области</dd>
  
      <dt class="col-sm-3">БИК</dt>
      <dd class="col-sm-9">046577952</dd>
    </dl>
  
  </div>
  