.main-section{
    padding: 5rem 0 7rem 0;
}

.features{
    background-color:#eee;
    transform: skewY(-2deg); 
}

.features > *{
    transform: skewY(2deg);
}

.licenses{
    background-color:#eee;
    border-radius: 100em/4em;
}

.contacts{
    padding-bottom: 0!important;
}


.main-feature{
    padding: 1rem 0;
}
.main-feature__title{
    font-weight: bold;
}

h1,h2{
    text-align: center;
    margin:1rem 0;
}

.info_title{
    color:black;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
