.main-section{
    padding: 5rem 0 7rem 0;
}

.features{
    padding-top:1rem!important;
}

.licenses{
    background-color:#eee;
    transform: skewY(-2deg); 
}

.licenses > *{
    transform: skewY(2deg);
}

.contacts{
    background-color:#eee;
    border-top-left-radius: 100em/3em;
    padding-bottom: 0!important;
}



.main-feature{
    padding: 1rem 0;
}
.main-feature__title{
    font-weight: bold;
}

h1,h2{
    text-align: center;
    margin:1rem 0;
}