

.features{
    background-color:#eee;
    transform: skewY(-2deg); 
}

.features > *{
    transform: skewY(2deg);
}

.licenses{
    background-color:#eee;
    border-radius: 100em/4em;
}

.contacts{
    padding-bottom: 0!important;
}

.main-feature{
    padding: 1rem 0;
}
.main-feature__title{
    font-weight: bold;
}

h1,h2{
    text-align: center;
    margin:1rem 0;
}

.info_title{
    color:black;
}

.bulb-container{
    margin: 1rem 0;
}

.bulb{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bulb-logo{
    color:white;
    font-size: 3rem;
    background-color: #dc3545;
    border-radius: 50%;
    padding:1rem;
    max-width: 5rem;
    min-width: 5rem;
    margin:1rem;
}

.bulb-text > *{
    color:black!important;
}



