<section class="info main-section" id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="features__title main-section__title">Группа компаний "Экстрим"</h2>
        <h3 class="text-center">Достигаем невозможного с 1994 года</h3>
        <br>
        <p class="features__text main-section__text">Группа компаний "Экстрим" с 1994г работает на рынке информационных технологий города Екатеринбурга и Свердловской
          области, а также многих городов Российской Федерации.
        </p>
        <p>Компания выступает как системный интегратор при создании и модернизации защищенных информационных систем, осуществляет
          анализ, проектирование, разработку и внедрение информационных систем от уровня малых предприятий до корпораций,
          обеспечивает техническое сопровождение.</p>
      </div>
    </div>
  </div>
</section>
<section class="features main-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="features__title main-section__title">Наши возможности</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/integration.png" alt="">
          </div>
          <h6 class="main-feature__title">Системная интеграция</h6>
          <p class="main-feature__text">Описание системной интеграции</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/certificate.png" alt="">
          </div>
          <h6 class="main-feature__title">Сертификаты ЭЦП</h6>
          <p class="main-feature__text">Изготовление сертификатов ЭЦП для работы на электронных торговых площадках</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/lock_open.png" alt="">
          </div>
          <h6 class="main-feature__title">Защита информации</h6>
          <p class="main-feature__text">Защита информации, аудит ИБ и поставка средств защиты</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/curriculum_checkmark.png" alt="">
          </div>
          <h6 class="main-feature__title">Удостоверяющий центр</h6>
          <p class="main-feature__text">Предоставление услуг удостоверяющего центра</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/ligthbulb_on.png" alt="">
          </div>
          <h6 class="main-feature__title">Аналитика</h6>
          <p class="main-feature__text">Бизнес-аналитика и консалтинг в области создания и развития ИС</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/hammer_gear.png" alt="">
          </div>
          <h6 class="main-feature__title">Разработка</h6>
          <p class="main-feature__text">Проектирование, разработка и внедрение программного обеспечения</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/transport.png" alt="" width="128px">
          </div>
          <h6 class="main-feature__title">Социальные и транспортные карты</h6>
          <p class="main-feature__text">Разработка ПО для социальных и транспортных карт</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/documents.png" alt="">
          </div>
          <h6 class="main-feature__title">Электронный документооборот</h6>
          <p class="main-feature__text">Обмен информацией через СМЭВ с органами любого уровня</p>
        </article>
      </div>
      <div class="col-md-4">
        <article class="main-feature">
          <div class="main-feature__img">
            <img src="assets/img/features/archieve.png" alt="">
          </div>
          <h6 class="main-feature__title">Электронный архив</h6>
          <p class="main-feature__text">Разработка электронных архивов</p>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="licenses main-section" id="licenses">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="features__title main-section__title">Лицензии</h2>
        <p class="stack__text main-section__text">Группа компаний "Экстрим" обладает всеми необходимыми лицензиями для осуществления профессиональной деятельности.</p>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 col-xl-6">
        <h3 class="stack__title main-section__title">Лицензии ФСБ</h3>
        <ul>
          <li>Лицензия ФСБ 10056П - ФСБ России на разработку, производство шифровальных (криптографических) средств, защищенных
            с использованием шифровальных (криптографических) средств информационных и телекоммуникационных систем</li>
          <li>Лицензия ФСБ 340Х - ФСБ России на техническое обслуживание шифровальных (криптографических) средств.</li>
          <li>Лицензия ФСБ 339Р - ФСБ России на распространение шифровальных (криптографических) средств</li>
          <li>Лицензия ФСБ 341У - ФСБ России на предоставление услуг в области шифрования информации</li>
          <li>Лицензия ФСБ 2331 (гос. тайна) - ФСБ России на оказание услуг с использованием сведений составляющих государственную
            тайну
          </li>
        </ul>
      </div>
      <div class="col-lg-7 col-xl-6">
        <img src="assets/img/licenses/fsb.png" alt="" width="256px">
      </div>
    </div>
    <br>
    <div class="row d-flex align-items-center">
      <div class="col-lg-7 col-xl-6">
        <img src="assets/img/licenses/fstek.gif" alt="" width="256px">
      </div>
      <div class="col-lg-5 col-xl-6">
        <h3 class="stack__title main-section__title">Лицензии ФСТЭК</h3>
        <ul>
          <li>Лицензия 1105 на разработку СЗИ - ФСТЭК РФ на деятельность по разработке и (или) производству средств защиты конфиденциальной
            информации
          </li>
          <li>Лицензия 1985 на тех. защиту - ФСТЭК РФ на деятельность по технической защите конфиденциальной информации</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="partners main-section" id="partners">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="features__title main-section__title">Наши партнеры</h2>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 col-xl-6">
        <h3 class="stack__title main-section__title">Партнеры в сфере программного обеспечения</h3>
      </div>
      <div class="col-lg-7 col-xl-6">
        <img src="assets/img/partners/microsoft.gif" alt="" width="128px">
        <img src="assets/img/partners/oracle.gif" alt="" width="128px">
        <img src="assets/img/partners/ibm.jpg" alt="" width="128px">
        <img src="assets/img/partners/vmware.png" alt="" width="128px">
        <img src="assets/img/partners/docsvision.jpg" alt="" width="128px">
      </div>
    </div>
    <br>
    <div class="row d-flex align-items-center">
      <div class="col-lg-7 col-xl-6">
        <img src="assets/img/partners/kaspersky.gif" alt="" width="128px">
        <img src="assets/img/partners/cryptopro.png" alt="" width="128px">
        <img src="assets/img/partners/positive.gif" alt="" width="128px">
        <img src="assets/img/partners/signalcom.png" alt="" width="128px">
        <img src="assets/img/partners/okbsapr.gif" alt="" width="128px">
        <img src="assets/img/partners/infosec.png" alt="" width="128px">
        <img src="assets/img/partners/ankad.jpg" alt="" width="128px">
      </div>
      <div class="col-lg-5 col-xl-6">
        <h3 class="stack__title main-section__title">Партнеры в сфере защиты информации</h3>
      </div>
    </div>
  </div>
</section>
<section class="contacts main-section text-center" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="features__title main-section__title">Контакты</h2>
        <h3 class="features__title main-section__title">8 800 222 1468</h3>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <span class="nav-link">ГК Экстрим</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:xrm@xrm.ru">xrm@xrm.ru</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about/requisites']">Реквизиты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad141a056e081e8f876463bbec980142e55ac278260a0704d4bd85cd5dd3f253e&amp;source=constructor"
        width="100%" height="688" frameborder="0"></iframe>
    </div>
  </div>
</section>