<section class="info main-section" id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <img src="assets/img/logo.svg" width="72px" style="margin-right: 1rem" alt="Логотип компании">
          <h2 class="info_title main-section__title">Группа компаний "Экстрим"</h2>
        </div>
        <br>
        <h3 class="text-center">Более 20 лет работы в области информационной безопасности</h3>
        <br>
      </div>
    </div>
  </div>
</section>