/* You can add global styles to this file, and also import other style files */
body{
    font-family: "LatoWeb";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285em;
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-brand{
    font-weight: 600;
}

.btn{
    border-radius: 0.2rem;
}

html, body {
    height: 100%;
  }
  .content {
    flex: 1 0 auto!important;
  }
  .footer {
    flex-shrink: 0!important;
  }