/* You can add global styles to this file, and also import other style files */
body{
    font-family: "LatoWeb";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4285em;
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-brand{
    font-weight: 600;
}

.navbar-dark{
    background-color:#767676!important;
}

.navbar-dark .navbar-text,
.navbar-dark .nav-link{
    color:white!important;
}

.btn{
    border-radius: 0.2rem;
}

html, body {
    height: 100%;
  }
  .content {
    flex: 1 0 auto!important;
  }
  .footer {
    flex-shrink: 0!important;
  }

  h1,h2,h3{
      font-weight: 600;
      color: #dc3545;
  }

  h3{
      font-size: 20px;
  }

  .page-header{
    padding:1rem;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.page-header h2{
    margin-bottom: 0;
}