/* You can add global styles to this file, and also import other style files */
body{
    font-family: "LatoWeb";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285em
}

.btn{
    border-radius: 0.2rem;
}